In [15]:
import pandas as pd

In [16]:
stepDetector = pd.read_csv("stepdetectorevent.csv")

In [17]:
stepDetector

        experimentid  userid       day          timestamp
0         wenetItaly     144  20201117  20201117202905246
1         wenetItaly     144  20201117  20201117191001037
2         wenetItaly     144  20201117  20201117190952392
3         wenetItaly     144  20201117  20201117190951198
4         wenetItaly     144  20201117  20201117190951031
...              ...     ...       ...                ...
4422600   wenetItaly     208  20201124  20201124091629516
4422601   wenetItaly     208  20201124  20201124091629025
4422602   wenetItaly     208  20201124  20201124091628521
4422603   wenetItaly     208  20201124  20201124075910592
4422604   wenetItaly     208  20201124  20201124075553014

[4422605 rows x 4 columns]

In [21]:
stepDetector['timestamp'] = pd.to_datetime(stepDetector['timestamp'], format='%Y%m%d%H%M%S%f')
stepDetector1min = stepDetector.copy()
stepDetector30min = stepDetector.copy()

stepDetector1min['rounded_timestamp'] = stepDetector1min['timestamp'].dt.floor('T')
result1m = stepDetector1min.groupby(['userid', 'day', 'rounded_timestamp']).size().reset_index(name="step_count")


stepDetector30min['rounded_timestamp'] = stepDetector30min['timestamp'].dt.floor('30T')
result30m = stepDetector30min.groupby(['userid', 'day', 'rounded_timestamp']).size().reset_index(name="step_count")

result1m.to_csv("stepDetector_1min.csv")
result30min.to_csv("stepDetector_30min.csv")

       userid       day   rounded_timestamp  step_count
0           0  20201114 2020-11-14 08:30:00          39
1           0  20201114 2020-11-14 12:00:00         148
2           0  20201115 2020-11-15 09:30:00           5
3           0  20201117 2020-11-17 12:00:00          81
4           0  20201117 2020-11-17 16:30:00          13
...       ...       ...                 ...         ...
33964     265  20201123 2020-11-23 20:30:00         177
33965     265  20201124 2020-11-24 15:30:00          15
33966     265  20201124 2020-11-24 16:30:00          30
33967     265  20201124 2020-11-24 19:00:00         142
33968     265  20201124 2020-11-24 21:00:00          42

[33969 rows x 4 columns]